* {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    letter-spacing: 1.8px;
    word-spacing: -2px;
    color: black;
    font-weight: 200;
    background-color: rgb(201, 166, 199);
}

div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.mainHeading {
    margin-top: 54px;
    font-size: 40px;
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-weight: 800;
}

/* .ol {
    margin-top: 0px;
    font-family: 'Roboto Condensed', sans-serif;
} */

.sub-heading {
    font-size: 30px;
    font-weight: bold;
    background-color: #5b3063 ;
}

.pointQuotes {
    margin-bottom: 40px;
    font-size: 30px;
}

.PointsHeading {
    font-weight: 700;
}

li {
    margin-top: 10px;
}